
* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	background: #ffffff;
	font-size: 16px;
	color: #7A7F7F;
	position: none;
}

#container {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

header {
	background: #fff182;
	width: 100%;
	height: 30px;
	position: none;
	font-family: 'Open Sans', sans-serif;
}

#contact {
	text-align: right;
	color: black;
	padding-right: 50px;
	padding-top: 5px;
}
ul.contact li {
	display: inline;
	padding-right: 50px;
	float: right;
	color: black;
}
#title {
	float: left;
	width: 33%;
	padding-top: 150px;
	text-align: left;
    
} 

#image {
	float: right;
	width: 66%;
	padding-top: 50px;
}

#light{
	font-family: 'Courier Light', serif;
	float: left;
	padding-top: 50px;
}

#content {
	clear: both;
	float: left;
	text-align: left;

}

.projects {
	width: 33.33%;
	float: left;
	padding-right:5em;
	padding-left: 0;
	text-align: center;
	padding-top: 40px;
	text-align: left;
	padding-bottom: 100px;
}

.clear {
	clear: both;
}

h2 {
	text-align: left;	
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	background-color: #fff182;
	color: black;
	line-height: 140%;
	font-size: 1em;
	padding: 10px, 10px, 5px, 5px;

}
#footer {
    clear: both;
    background-color:black;
    color:#fff182;
    clear:both;
    text-align:center;
    padding:5px; 
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
	font-size: 0.8em;
}

footer p a {
	color: #fff182;
}
ul.social li {
	display: inline;
	padding-right: 10px;
}
ul.social li img {
	height: 25px;
}


