body {
  text-align: center;
  background: url("../images/tbm1.png");
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  font-family: helvetica;
}

hr {
	color: #573412;
  width: 200px;
}
h1{
	color: #573412;
}
p{
	color: #573412;
 font-size: 18px; 
}
