body {
  text-align: center;
  background: url("../images/xd.jpg");
  background-repeat: no-repeat;
  background-color: #692072;
  background-size: cover;
  font-family: helvetica;
}

hr {
	color: #ffffff;
  width: 100px;

}
h1{
	color: #ffffff;
	text-decoration: bold;
}
p{
	color: #ffffff;
 font-size: 18px; 
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #f5ea5d;
}

/* selected link */
a:active {
    color: #f5ea5d;
}